@model IEnumerable<MossadAgentsMvc.Models.Mission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.targetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeToTarget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.targetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToTarget)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Select mission", "Select", new { id = item.Id }) 

                
            </td>
        </tr>
}
    </tbody>
</table>
